{% extends 'layout.html' %}

{% block body %}

 <h1>About Us</h1>
 <p class="lead">Hi guys! Welcome to my blog about travels and adventures. I guess first of all I shoul tell you the story, how I've created it. Once upon a time lived a little girl, wich fall in love Python(programming language). I understand it can looks weird, but I decided, why not? Especially if I have such a great, strong back, my husband Alex. So my thorny path began. But I really like it. I finished my courses and start to think where I can use my knowledge. We have cuple of ideas, what type of projects it can be. In that time we travelling around Asia and reviewing a lot of travel blogs. All I found it was a lot of non-organized information, I spent a lot of time to found exactly that information what I need. That's how arose the idea to make own blog about travels, which become very useful, simle and you can find all information that you need super fast. I hope you enjoy it! Have a great vacations!
 </p>


{% endblock %}