{% extends 'layout.html' %}

{% block body %}
    {% if request.cookies.get('language') == 'en' %}
        <h1>{{article.title}}</h1>
    {% else %}
        <h1>{{article.title_uk}}</h1>
    {% endif %}
        <small>Written by {{article.author}} on {{article.create_date}}</small>
        <hr>
        <div>
            {% if request.cookies.get('language') == 'en' %}
                {{ article.body|safe }}
            {% else %}
                {{ article.body_uk|safe }}
            {% endif %}
        </div>
{% endblock %}